body {
    margin: 0;
}

.header {
    height: 240px;
    background: url(../img/walls-e.jpg) center;
    background-size: contain;

        @media(max-width: 768px) {
            display: none;
        }
}

.header .nav-link {
    color: white;
}

.main-menu__logo {
    display: none;
}

.main-menu__logo img {
    width: 55px;
}

.main li {
    text-align: center;
}

.sticky-top {
    background: white; 
}

.container-fluid__row {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.col__main-menu {
    background-color: white !important;
}

.main-menu__link {
    padding: 40px !important;
    text-transform: uppercase !important;
    color: black !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}

.row__container {
    text-align: center !important;
}

.main__bg {
    background: #fbfafa;
    padding: 60px 0;    
}

.main__adv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.adv__unit {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 5px;

    img {
        width: 100%;
    }

    h4 {
        text-align: center;
        margin: 10px;

        @media (max-width: 760px) {
            font-size: 1.2rem;
        }

        @media (max-width: 605px) {
            font-size: 1.1rem;
        }
    }

    p {
        text-align: center;
        margin: 10px;
        font-weight: 200;
        font-size: 1.1rem;

        @media (max-width: 605px) {
            font-size: 1rem;
        }
    }

    div {
        margin: 0 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    button {
        margin: 20px 0;
    }
}

.custom-btn {
    @media (max-width: 640px) {
        font-size: 1rem;
    }

    @media (max-width: 550px) {
        font-size: 0.7rem;
    }
}

.slick-slide {
    margin: 0 20px;
}

.slick-list {
    padding: 10px 0;
}

.catalogue-menu {
    h3 {
        position: relative;
        margin-bottom: 30px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    h3::before {
        position: absolute;
        content: url(/img/rec.png);
        left: -45px;
        top: -6px;
    }

    p {
        margin-bottom: 0;
        max-width: 450px;
        font-size: 1.1rem;
        line-height: 1.5;
        font-weight: 200;
    }

    img {
        display: inline-block;
        width: 100%;
    }
}

.gap:nth-child(odd) {
    padding-left: 70px !important;
}

.gap:nth-child(even) {
    padding-left: 110px !important;
}

.footer {
    background-color: #efefef;
        p {
            margin: 30px 0;
        }
}

@media(max-width:1390px) {
    .header {
        background-size: cover;
    }
}

@media(max-width: 992px) {
    .gap:nth-child(odd) {
        padding-left: 10px !important;
    }

    .gap:nth-child(even) {
        padding-left: 40px !important;
    }

    h3::before {
        display: none;
    }

    .footer p {
        margin: 30px 0 0 0;
    }

    .footer p:nth-child(2) {
        margin: 5px 0 30px 0;
    }
}

@media(max-width: 768px) {
    .gap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px 0;
        text-align: center;
    }

    .gap:nth-child(odd) {
        padding: 0 10px !important;
    }

    .gap:nth-child(even) {
        padding: 0 10px !important;
    }

    .gap:nth-child(2) {
        order: 1;
    }

    .catalogue-menu__item {
        order: 2;
    }
}

@media(max-width: 576px) {
    .main-menu__link {
        padding: 20px !important;
    }

    .main-menu__logo {
        display: inline-block;
    }

    .main {
        button {
            padding: 10px 25px;
        }

        .main__adv {
            padding: 30px 0;
        }
    }

    .footer p {
        font-size: 0.6rem;
    }

    .catalogue-menu {
        h3 {
            font-size: 1.4rem;
        }

        p {
            font-size: 1rem;
        }

        img {
            padding: 0 10px;
        }
    }
}