@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
    --lato: 400 0.93rem/1 Lato, sans-serif;
    --lato-b: 700 1.37rem/1.2 Lato, sans-serif;
	--lato-hb: 700 0.93rem/1 Lato, sans-serif;
	--color-r: #f10e34;
}

@mixin card {
	display: flex;
	flex-direction: column;
	padding: 20px 3.1% 40px 3.1%;
	margin-bottom: 30px;
	max-width: 300px;
	background-color: white;
}

@mixin card-hp {
	text-transform: uppercase;
	padding-bottom: 20px;
	margin: 0;
	border-bottom: 1px solid #f3f3f3;
	font: var(--lato-b);
}

@mixin button {
	border: 0;
	border-radius: 20px;
	margin: 0;
	padding: 17px 22px;
	color: white;
	background-color: var(--color-r);
	text-transform: uppercase;
	font: var(--lato-hb);
}

body {
	margin: 0;
}

.header {
    background-color: #222222;
}

.wrapper {
	min-width: 320px;
	max-width: 1235px;
	margin: auto;
	padding: 0 30px;

	@media (max-width: 500px) {
		padding: 0 10px;
	}
}

label {
	display: none;
}

@media (max-width: 500px) {
	header .wrapper {
		padding: 0 10px;
	}
}

.container {
	display: flex;
	justify-content: space-between;

		@media (max-width: 600px) {
			flex-direction: column;
		}
}

.container__logo img {
	padding: 20px 0 35px 0;
}

@media (max-width: 800px) {
	.container__logo {
		display: none;
	}
}

.container__hidden-logo {
	display: none;

		@media (max-width: 800px) {
			display: block;
			padding: 20px 0 35px 0;
		}

		@media (max-width: 600px) {
			text-align: center;
			padding: 10px 0;
		}
}

.navigation__header-menu {
	display: flex;
	max-width: 435px;
	margin: 0;
	padding-left: 0;
	list-style: none;
		li:last-child {
			border-right: 0;
		}

		@media (max-width: 460px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		@media (max-width: 720px) {
			transform: translate(0, 50%);
		}
}

.row-block__navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	@media (max-width: 600px) {
		justify-content: center;
		padding-bottom: 20px; 
	}
}

.navigation__header-menu li {
	margin: 20px 0;
	padding: 0 15px;
	border-right: 1px solid white;

	@media (max-width: 600px) {
		margin: 10px 0;
	}
}

.navigation__header-menu a {
	text-decoration: none;
	transition: 0.3s ease;
	color: white;
	font: var(--lato);
}

.navigation__header-menu a:hover {
	color: var(--color-r);
}

.navigation__form {
	@media (max-width: 720px) {
		transform: translate(0, 170%);
		z-index: 2;
	}

	@media (max-width: 600px) {
		transform: translate(20%, 160%);
	}

	@media (max-width: 500px) {
		transform: translate(350%, 160%);
	}

	@media (max-width: 480px) {
		transform: translate(320%, 160%);
	}

	@media (max-width: 445px) {
		transform: translate(290%, 160%);
	}

	@media (max-width: 405px) {
		transform: translate(240%, 160%);
	}

	@media (max-width: 350px) {
		transform: translate(210%, 160%);
	}
	input {
		vertical-align: bottom;
		padding-left: 20px; 
		width: 530px;
		height: 40px;
		border: transparent;
		border-radius: 5px 0 0 5px;
		font: var(--lato);

			@media (max-width: 965px) {
				width: 300px;
			}

			@media (max-width: 690px) {
				width: 200px;
			}

			@media (max-width: 460px) {
				width: 120px;
			}

			@media (max-width: 500px) {
				display: none;
			}
	}

	button {
		height: 40px;
		padding: 0 20px;
		border: transparent;
		border-radius: 0 5px 5px 0;
		color: white;
		background-color: var(--color-r);
		font-size: 0.9rem;

		@media (max-width: 720px) {
			border: 1px solid white;
		}

		@media (max-width: 500px) {
			border-radius: 5px;
		}
	}
}

.navigation__shopping-cart {
	display: flex;
	align-items: center;
	margin-left: 40px;

	@media (max-width: 460px) {
		margin-left: 20px;
	}

	@media (max-width: 720px) {
		transform: translate(0, 170%);
		z-index: 2;
	}

	@media (max-width: 600px) {
		transform: translate(40%, 160%);
	}

	@media (max-width: 500px) {
		display: none;
	}
}

.shopping-cart__button {
	cursor: pointer;
	transition: 0.3s ease;
	margin-right: 7px;
	width: 40px;
	height: 40px;
	border: transparent;
	border-radius: 50%;
	color: white;
	background-color: var(--color-r);
	font-size: 0.9rem;

	@media (max-width: 720px) {
		border: 1px solid white;
	}
}

.shopping-cart__button:hover {
	background-color: #fff;
	color: var(--color-r);
}

.navigation__shopping-cart p {
	width: 55px;
	margin: 0;
	color: white;
	font: var(--lato);
	font-weight: bold;
}

.navigation__shopping-cart p::first-line {
	text-transform: uppercase;
	font-weight: normal;
}

.main {
	background-color: #f3f3f3;
}

.main__background {
	background-color: var(--color-r);
}

.burger-menu {
	position: relative;
	height: 50px;
	display: none;

	&__button {
		position: absolute;
		width: 40px;
		height: 40px;
		z-index: 30;
		top: 6px;
		left: 10px;
		transition: 0.4s;
	}

	&__lines,
	&__lines::after,
	&__lines::before {
		position: absolute;
		width: 35px;
		height: 3px;
		background-color: #fff;
	}

	&__lines {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__lines::before {
		content: '';
		top: -12px;
	}

	&__lines::after {
		content: '';
		top: 12px;
	}

	@media (max-width: 720px) {
		display: block;
	}
}

.burger-menu__button:hover .burger-menu__lines {
	filter: brightness(0.3);
}

.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines {
	background-color: transparent;
}

.burger-menu_active .burger-menu__lines::before {
	top: 0;
	transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::after {
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu__nav {
	z-index: 20;
	position: absolute;
	display: flex;
	flex-flow: column;
	height: 460px;
	background-color: #2a2a2a;
	overflow-y: auto;
	left: -100%;
	top: 100%;
	transition: 0.5s;
}

.burger-menu_active .burger-menu__nav {
	left: -5%;

	@media (max-width: 655px) {
		left: -6%;
	}

	@media (max-width: 500px) {
		left: -5%;
	}
}

.burger-menu__link {
	padding: 30px;
	font: var(--lato);
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

.burger-menu__link:hover {
	filter: brightness(0.7);
}

.burger-menu__overlay {
	// display: none;
	// position: fixed;
	// top: 0;
	// left: 0;
	// width: 100vw;
	// height: 100vh;
	// z-index: 10;
}

.burger-menu_active .burger-menu__overlay {
	// display: block;
}

.main-menu {
	display: flex;
	justify-content: space-around;

	@media (max-width: 720px) {
		display: none;
	}
}

.main-menu__panel {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel__panel-heading button {
	padding: 18px 10px;
	border-top: 0;
	border-bottom: 0;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	color: white;
	background-color: transparent;
	text-transform: uppercase;
	transition: 0.3s ease;
	font: var(--lato);

	@media (max-width: 1030px) {
		font-size: 0.7rem;
	}
}

.panel__panel-heading button:hover {
	border-right: 1px solid white;
	border-left: 1px solid white;
}

.panel__panel-collapse {
	position: absolute;
	top: 100%;
	display: none;
	z-index: 1;
}

.panel-collapse__body ul {
	margin: 0;
	padding: 0;
	background-color: white;
	box-shadow: 0 0 3px rgba(122,122,122,0.5);
}

.panel-collapse__body li {
	min-width: 130px;
	text-align: left;
	list-style: none;
	padding: 10px 5px;
	margin: 0 15px;
	border-bottom: 1px solid #eaeaea;
}

.panel-collapse__body a {
	display: inline-block;
	padding: 10px 5px;
	text-decoration: none;
	color: black;
	font: var(--lato);
}

.columns-box {
	display: flex;
	justify-content: center;
}

//////////////////
// First column //
//////////////////

.columns-box__column-1 {
	display: flex;
	flex-direction: column;
	margin-right: 40px;
	max-width: 30%;

	@media (max-width: 650px) {
		display: none;
	}
}

.column-1__item-card {
	@include card;
}

.item-card__header p {
	@include card-hp;

	@media (max-width: 1030px) {
		font-size: 1rem;
	}
}

.item-card__body {
	padding-top: 25px;
	text-align: center;
}

.slick-next,
.slick-prev {
	top: -24%;

	@media (max-width: 650px) {
		top: -16%;
	}

	@media (max-width: 574px) {
		top: -17%;
	}

	@media (max-width: 400px) {
		top: -21%;
	}
}

.column-1__item-card .slick-next,
.column-1__item-card .slick-prev {
	top: -19%;

	@media (max-width: 860px) {
		top: -22%;
	}
}

.column-1__item-card .slick-prev {
	@media (max-width: 940px) {
		left: 80%;
	}

	@media (max-width: 820px) {
		left: 77%;
	}

	@media (max-width: 720px) {
		left: 74%;
	}
}

.slick-next {
	right: 0%;
}

.slick-prev {
	left: 83%;
}

.slick-next::before,
.slick-prev::before {
	transition: 0.3s linear;
	color: #cacaca;
	opacity: 1;
}

.slick-next:hover::before,
.slick-prev:hover::before {
	color: var(--color-r);
}

.slide__name {
	margin: 0;
	padding: 20px 0 10px 0;
	font: var(--lato);

	@media (max-width: 1030px) {
		font-size: 0.7rem;
	}
}

.slide__old-price,
.slide__new-price {
	display: inline-block;
	margin: 0;

	@media (max-width: 1030px) {
		font-size: 0.7rem;
	}
}

.slide__old-price {
	margin-right: 15px;
	text-decoration: line-through;
	font: var(--lato);
}

.slide__new-price {
	font: var(--lato-hb);
	margin-bottom: 10px;
}

.fafa-star {
	@media (max-width: 1030px) {
		font-size: 0.7rem;
	}
}

.column-1__newsletters {
	max-width: 300px;
	padding: 20px 25px 40px 25px;
	margin-bottom: 30px;
	background-color: white;
}

.column-1__newsletters p:first-child {
	margin: 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #f3f3f3;
	text-transform: uppercase;
	font: var(--lato-b);

	@media (max-width: 1030px) {
		font-size: 1rem;
	}
}

.column-1__newsletters p:nth-child(2) {
	margin: 20px 0;
	font: var(--lato);

	@media (max-width: 1030px) {
		font-size: 0.7rem;
	}
}

textarea {
	margin-bottom: 20px;
	padding: 5px;
	resize: none;
	background: #f3f3f3;
	border: 0;
	border-radius: 10px;
	font: var(--lato);
	width: 100%;
}

.column-1__newsletters button {
	@include button;

	@media (max-width: 1030px) {
		font-size: 0.7rem;
	}
}

.column-1__adv {
	display: inline-block;
	margin-bottom: 30px; 

	& img {
		max-width: 300px;
		width: 100%;
	}

	@media (max-width: 740px) {
		display: none;
	}
}

.adv__inserted {
	height: 440px;

	@media (max-width: 900px) {
		height: 400px;
	}
}

///////////////////
// Second column //
///////////////////

.columns-box__column-2 {
	display: flex;
	flex-direction: column;
	max-width: 65%;

	@media (max-width: 650px) {
		max-width: 100%;
	}
}

.column-2__adv {
	position: relative;
	width: 100%;

	img {
		width: 100%;
		vertical-align: bottom;
	}

	p {
		margin: 0;
		text-transform: uppercase;
		position: absolute;
	}

	@media (max-width: 720px) {
		display: none;
	}
}

.column-2__adv p:nth-child(2) {
	top: 20%;
	left: 12%;
	color: #303a7a;
	font: var(--lato-b);
	font-size: 1.87rem;

	@media (max-width: 1090px) {
		left: 10%;
	}

	@media (max-width: 950px) {
		font-size: 1.5rem;
	}

	@media (max-width: 850px) {
		left: 9%;
	}

	@media (max-width: 750px) {
		font-size: 1.3rem;
	}
}

.column-2__adv p:nth-child(3) {
	top: 30%;
	left: 9%;
	color: white;
	font: var(--lato-b);
	font-size: 2.81rem;

	@media (max-width: 1090px) {
		font-size: 2.5rem;
	}

	@media (max-width: 950px) {
		font-size: 2.1rem;
	}

	@media (max-width: 850px) {
		left: 7%;
	}

	@media (max-width: 750px) {
		font-size: 1.9rem;
	}
}

.column-2__adv p:nth-child(4) {
	top: 45%;
	left: 17%;
	color: white;
	font: var(--lato-b);
	font-size: 1.3rem;

	@media (max-width: 1040px) {
		top: 47%;
	}

	@media (max-width: 950px) {
		top: 45%;
		left: 13%;
	}

	@media (max-width: 750px) {
		font-size: 1.2rem;
	}
}

.column-2__adv button {
	position: absolute;
	top: 65%;
	left: 19%;
	cursor: pointer;
	background: transparent;
	margin: 0;
	padding: 12px 24px;
	border: 2px solid black;
	text-transform: uppercase;
	font: var(--lato-hb);

	@media (max-width: 950px) {
		left: 16%;
	}

	@media (max-width: 850px) {
		padding: 10px 20px;
	}

	@media (max-width: 750px) {
		padding: 8px 18px;
	}
}

.column-2__adv button:active {
	border-color: white;
	color: white
}

.column-2__benefits {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	color: white;
	text-align: center;
	background-color: var(--color-r);

	@media (max-width: 720px) {
		display: none;
	}
}

.column-2__benefits p:first-child {
	width: 209px;
}

.column-2__benefits p:nth-child(2) {
	width: 183px;
}

.column-2__benefits p:nth-child(3) {
	width: 165px;
}

.benefits__desc {
	margin: 20px 10px;
	font: var(--lato);
	line-height: 1.1rem;

	@media (max-width: 1030px) {
		font-size: 0.8rem;
	}

	@media (max-width: 900px) {
		font-size: 0.65rem;
		margin: 20px 0;
	}
}

.benefits__desc::first-line {
	text-transform: uppercase;
	font: var(--lato-hb);
	letter-spacing: 5px;

	@media (max-width: 1030px) {
		font-size: 0.8rem;
	}

	@media (max-width: 900px) {
		font-size: 0.65rem;
	}
}

.column-2__item-card-2 {
	@include card;
	max-width: 100%;
}

.item-card-2__header {
	position: relative;
}

.item-card-2__header p {
	display: inline-block;
	@include card-hp;
	border: 0;

	@media (max-width: 1030px) {
		font-size: 1rem;
	}
}

.item-card-2__header ul {
	display: inline-flex;
	position: absolute;
	right: 120px;
	margin: 0;
	padding-left: 0;
	padding-bottom: 20px;
	list-style: none;

	@media (max-width: 850px) {
		display: none;
	}
}

.item-card-2__header li:not(:last-child) {
	margin-right: 20px;
}

.item-card-2__header a {
	color: black;
	text-decoration: none;
	font: var(--lato);

	@media (max-width: 1030px) {
		font-size: 0.7rem;
	}
}

.item-card-2__header a:hover {
	text-decoration: underline;
}

.item-card-2__header hr {
	height: 1px;
	border: none;
	margin: 0;
	background: #f3f3f3;
}

.item-card-2__body {
	padding-top: 25px;
	text-align: center;
}

.slick-slide img {
	padding: 0 10px;
	display: block;
	width: 100%;
}

.item-card-2__body .slick-prev {
	left: 93.2%;

		@media (max-width: 1140px) {
			left: 92%;
		}

		@media (max-width: 940px) {
			left: 91%;
		}

		@media (max-width: 820px) {
			left: 89%;
		}

		@media (max-width: 720px) {
			left: 88%;
		}

		@media (max-width: 400px) {
			left: 85%;
		}
}	

.sales {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;

	&__card{
		position: relative;
		max-width: 50%;
	}

	&__card:first-child {
		margin-right: 15px;
	}

	&__img{
		width: 100%;
		vertical-align: bottom;
	}

	&__btn{
		position: absolute;
		cursor: pointer;
		padding: 0;
		background: transparent;
		border: 0;
		bottom: 25%;
		right: 5%;
		color: #108beb;
		font: var(--lato-hb);
		text-decoration: underline;
		text-transform: uppercase;
	}

	&__text{
		position: absolute;
		bottom: 15%;
		right: 5%;
		margin: 0;
		color: #dfdbda;
		font: var(--lato);

		@media (max-width: 1040px) {
			bottom: 10%;
		}
	}

	@media (max-width: 660px) {
		display: none;
	}
}

.column-2__adv-2 {
	position: relative;
	background-color: #fff;
	margin-bottom: 30px;

	@media (max-width: 900px) {
		display: none;
	}
}

.column-2__adv-2 img {
	display: inline-block;
	margin: 30px 0 30px 10px;

	@media (max-width: 1055px) {
		width: 50%;
	}
}

.column-2__adv-2 p {
	display: inline-block;
	position: absolute;
	top: 50px;
	margin: 0;
	color: #0f8ce9;
	text-transform: uppercase;
	font: var(--lato-b);

	@media (max-width: 1206px) {
		right: 50px;
	}

	@media (max-width: 1055px) {
		top: 30px;
	}

	@media (max-width: 1030px) {
		font-size: 1rem;
	}
}

.column-2__adv-2 p::first-line {
	color: black;

	@media (max-width: 1030px) {
		font-size: 1rem;
	}
}

.column-2__adv-2 button {
	position: absolute;
	bottom: 40px;
	@include button;

	@media (max-width: 1205px) {
		bottom: 60px;
	}

	@media (max-width: 1055px) {
		bottom: 20px;
	}

	@media (max-width: 1030px) {
		font-size: 0.7rem;
		bottom: 40px;
		right: 120px;
	}
}

.carousel-multiple-2__slide {
	display: flex;
	justify-content: space-between;
}

.body__carousel-multiple-2 .slick-next,
.body__carousel-multiple-2 .slick-prev {
	top: -16%;

	@media (max-width: 650px) {
		top: -24%;
	}

	@media (max-width: 574px) {
		top: -15%;
	}
}

.slide__item-block:nth-child(odd) {
	margin-bottom: 65px;
}

.carousel-multiple-2__slide img {
	margin: 0 auto;
}

.item-block__container {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.item-block__container:first-child {
	margin-right: 25px;
}

.item-block__container p {
	padding-top: 0;
}

.item-block__name {
	margin: 0;
	padding: 20px 0 10px 0;
	font: var(--lato);

	@media (max-width: 1030px) {
		font-size: 0.7rem;
	}
}

.item-block__old-price,
.item-block__new-price {
	display: inline-block;
	margin: 0;

	@media (max-width: 1030px) {
		font-size: 0.7rem;
	}
}

.item-block__old-price {
	margin-right: 15px;
	text-decoration: line-through;
	font: var(--lato);
}

.item-block__new-price {
	font: var(--lato-hb);
	margin-bottom: 10px;
}

aside {
	background-color: var(--color-r);

	@media (max-width: 860px) {
		display: none;
	}
}

aside div {
	display: flex;
	justify-content: space-between;
}

aside img {
	display: inline-block;
	margin: 40px 0 40px 0;
}

.footer-top-bcg {
	background-color: #222222;
	padding: 60px 0;

	@media (max-width: 750px) {
		padding: 30px 0 15px 0;
	}
}

footer .wrapper {
	display: flex;
	justify-content: space-between;

	@media (max-width: 750px) {
		flex-direction: column;
		align-items: center;
	}
}

.contact-box-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media (max-width: 750px) {
		align-items: center;
	}
}

.contact-box-1 p {
	margin: 20px 0 40px 0;
	max-width: 300px;
	color: #676767;
	font: var(--lato);
	line-height: 1.7;

	@media (max-width: 750px) {
		text-align: center;
		margin-bottom: 20px;
	}
}

.contact-box-1__link {
	padding-left: 20px;
	text-decoration: none;
	font: var(--lato);
	color: #676767;
}

.contact-box-1__link:not(:last-child) {
	margin-bottom: 20px; 
}

.contact-box-1__link {
	position: relative;
}

.contact-box-1__link::before {
	content: url(../img/arr.png);
	position: absolute;
	left: 0;
}

.contact-box-1__link:nth-child(4)::before {
	content: url(../img/phone.png);
}

.contact-box-1__link:last-child::before {
	content: url(../img/mail.png);
}

.contact-box-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 30px;

	@media (max-width: 750px) {
		align-items: center;
		padding-left: 0;
		text-align: center;
	}
}

.contact-box-2 p {
	margin-bottom: 30px;
	color: white;
	text-transform: uppercase;
	font: var(--lato-b);

	@media (max-width: 750px) {
		margin: 20px 0;
	}
}

.contact-box-2__additions {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contact-box-2__additions li:not(:last-child) {
	margin-bottom: 15px;
}

.contact-box-2__additions a {
	text-decoration: none;
	color: #676767;
	font: var(--lato);
}

.contact-box-3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 30px;

	@media (max-width: 750px) {
		align-items: center;
		padding-left: 0;
	}
}

.contact-box-3__list-1,
.contact-box-3__list-2 {
	display: inline-block;
}

.contact-box-3__list-2 {
	margin: 0;
}

.contact-box-3__list-1 {
	margin:0 85px 0 0;

	@media (max-width: 1125px) {
		margin: 0 15px 15px 0;
	}

	@media (max-width: 1055px) {
		margin: 0 15px 15px 0;
	}

	@media (max-width: 920px) {
		margin: 0 0 15px 0;
	}

	@media (max-width: 750px) {
		margin: 0 30px 0 0;
	}
}

.contact-box-3 p {
	margin-bottom: 30px;
	color: white;
	text-transform: uppercase;
	font: var(--lato-b);

	@media (max-width: 750px) {
		margin: 20px 0;
	}
}

.contact-box-3 ul {
	list-style: none;
	padding: 0;
}

.contact-box-3 li:not(:last-child) {
	margin-bottom: 15px;
}

.contact-box-3 a {
	text-decoration: none;
	color: #676767;
	font: var(--lato);
}

.contact-box-3 li {
	position: relative;
	padding-left: 20px;
}

.contact-box-3 li::before {
	position: absolute;
	left: 0;
}

.contact-box-3__list-1 li:first-child::before {
	content: url(../img/ge.png);
}

.contact-box-3__list-1 li:nth-child(2)::before {
	content: url(../img/ps.png);
}

.contact-box-3__list-1 li:nth-child(3)::before {
	content: url(../img/vo.png);
}

.contact-box-3__list-1 li:nth-child(4)::before {
	content: url(../img/im.png);
}

.contact-box-3__list-2 li:first-child::before {
	content: url(../img/fk.png);
}

.contact-box-3__list-2 li:nth-child(2)::before {
	content: url(../img/tr.png);
}

.contact-box-3__list-2 li:nth-child(3)::before {
	content: url(../img/rss.png);
}

.contact-box-3__list-2 li:nth-child(4)::before {
	content: url(../img/ye.png);
}

.contact-box-4 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 30px;

	@media (max-width: 750px) {
		align-items: center;
		padding-left: 0;
	}
}

.contact-box-4 p:first-child {
	margin-bottom: 30px;
	color: white;
	text-transform: uppercase;
	font: var(--lato-b);

	@media (max-width: 750px) {
		margin: 20px 0;
	}
}

.contact-box-4 p:nth-child(n+2) {
	position: relative;
	padding-left: 15px;
	margin:0 0 20px 0;
	max-width: 300px;
	color: #676767;
	font: var(--lato);
}

.contact-box-4 p:nth-child(2)::before{
	position: absolute;
	left: 0;
	content: url(../img/time.png);
}

.contact-box-4 p:nth-child(4) {
	margin: 35px 0 30px 0;
	padding: 0;
	color: white;
	text-transform: uppercase;
	font: var(--lato-b);

	@media (max-width: 750px) {
		margin: 20px 0;
	}
} 

.contact-box-4 ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	max-width: 260px;

	@media (max-width: 750px) {
		max-width: none;
		justify-content: center;
	}
}

.contact-box-4 li {
	margin: 0 25px 20px 0;
}

.contact-box-4 li:first-child {
	@media (max-width: 526px) {
		margin-left: 25px; 
	}

	@media (max-width: 340px) {
		margin-left: 0; 
	}
}

.contact-box-4 li:nth-child(4) {
	margin-right: 0;

	@media (max-width: 1041px) {
		margin-right: 25px;
	}

	@media (max-width: 340px) {
		margin-right: 0;
	}
}

.contact-box-4 li:nth-child(n+5) {
	margin-bottom: 0;

	@media (max-width: 900px) {
		margin-bottom: 20px;
	}
}

.contact-box-4 li:last-child {
	margin: 0;
}

.additional-info {
	background-color: #1f1e1e;
}

.additional-info ul {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
	margin: 0 auto;
	padding: 40px 15px;
	list-style: none;
	align-items: center;

	@media (max-width: 470px) {
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}
}

.additional-info li:nth-child(n+2):nth-child(-n+5) {
	padding: 10px 0;
}

.additional-info li:first-child {
	@media (max-width: 470px) {
		padding-bottom: 10px;
	}
}

.additional-info li:last-child {
	@media (max-width: 470px) {
		padding-top: 10px;
	}
}

.additional-info a {
	text-decoration: none;
	color: white;
	font: var(--lato);
}

.additional-info p {
	margin: 0;
	padding: 0 15px 30px 15px;
	color: white;
	text-align: center;
	font: var(--lato);
	line-height: 1.1rem;
}