@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500&display=swap&subset=cyrillic');

:root {
    --pt-r: 400 1rem/1 'PT Serif', serif;
    --roboto-r: 400 1rem/1 Roboto, sans-serif;
    --roboto-b: 500 1.5rem/1.5 Roboto, sans-serif;
    --color-y: #ffc222;

    @media (max-width: 510px) {
        --pt-r: 400 0.7rem/1 'PT Serif', serif;
        --roboto-r: 400 0.7rem/1 Roboto, sans-serif;
        --roboto-b: 500 1.3rem/1.5 Roboto, sans-serif;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #5e5e5e;
    font: var(--pt-r);
}

header {
    font: var(--roboto-r);
}

.wrapper {
    max-width: 1230px;
    min-width: 320px;
    padding: 0 30px;
    margin: auto;

    @media (max-width: 510px) {
        padding: 0 10px;
    }
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-bg {
    background-color: #303030;
}

.top-bg .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 410px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.top-box {

    &__email,
    &__phone {
        color: #cbcacb;
    }

    &__phone {
        margin-right: 30px;
        padding-left: 20px;
        position: relative;

        @media (max-width: 703px) {
            margin-bottom: 5px;
        }

        @media (max-width: 410px) {
            margin-right: 10px;
        }
    }

    &__phone::before {
        content: "\f095";
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        color: var(--color-y);
    }

    &__email {
        padding-left: 30px;
        position: relative;
    }

    &__email::before {
        content: "\f003";
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        color: var(--color-y);
    }
}

.wrapper__top-box {
    text-align: center;

    @media (max-width: 410px) {
        padding: 10px 0;
    }
}

.wrapper__top-btn {
    position: relative;
    padding: 18px 18px 18px 36px;
    color: #1b1b1b;
    background-color: var(--color-y);
    font: var(--roboto-r);
    margin-left: 15px;
    text-align: center;

    @media (max-width: 703px) {
        padding: 18px;
    }
}

.wrapper__top-btn::before {
    position: absolute;
    content: "\f0b1";
    font-family: 'icomoon';
    left: 12px;
    color: black;

    @media (max-width: 703px) {
        display: none;
    }
}

.content {
    padding: 34px 0px 23px 0;
}

.content .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__menu ul {
    @media (max-width: 700px) {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        margin-top: 15px;
    }

    @media (min-width: 700px) {
        display: block !important;
    }
}

.menu__burger {
    display: none;

    @media (max-width: 700px) {
        display: block;
    }
}

.icon-bars::before {
    content: '\f0c9';
    font-family: 'icomoon';
    font-size: 1.2rem;
}

.content__menu li {
    display:inline-block;

    @media (max-width: 700px) {
        display: block;
        text-align: center;
    }
}

.content__menu li + li {
    padding-left: 10px;

    @media (max-width: 700px) {
        padding-left: 0;
    }
}

.content__menu a {
    padding: 16px;
    border: 1px solid transparent;
    color: black;
    transition: all 0.3s;

    @media (max-width: 700px) {
        display: block;
        background-color: #fff;
    }
}

.content__menu a:hover {
    border-color: var(--color-y);
}

#modal {
    display: none;
}

.main__slider {
    background-image: url(../img/wall-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.inner__item {
    text-align: center;
    padding-top: 110px;
    max-width: 50%;
    margin: 0 auto;
}

.item__title {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    color: white;
    font: var(--roboto-b);
}

.item__text {
    margin: 0 0 40px 0;
    color: white;
    font: var(--pt-r);
    line-height: 1.3rem;
}

.default-btn {
    position: relative;
    display: inline-block;
    color: white;
    font: var(--roboto-r);
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
}

.default-btn::after {
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    content: "\f105";
    font-family: "icomoon";
}

.slick-btn {
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    background-color: var(--color-y);
}

.slick-btn.slick-disabled {
    cursor: default;
    background-color: transparent;
}

.slick-btn::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: white;
}

.container__inner {
    position: relative;
}

.slick-next {
    right: 0;
}

.slick-next::before {
    content: "\f105";
}

.slick-prev {
    left: 0;
}

.slick-prev::before {
    content: "\f104";
}

.services {
    padding: 50px 0 30px 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
    }
}

.top__title-box {
    padding-left: 140px;
    position: relative;

    @media (max-width: 1000px) {
        padding-left: 0;
        text-align: center;
    }
}

.top__title-box::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: var(--color-y);
    left: 0;
    top: 11px;

    @media (max-width: 1000px) {
        display: none;
    }
}

.title-box__title {
    margin: 0 0 10px 0;
    font: var(--roboto-r);
    font-size: 1.5rem;
    color: #1b1b1b;
}

.title-box__text {
    margin: 0;
    width: 430px;
    letter-spacing: 0.1px;
    line-height: 1.2rem;

    @media (max-width: 1000px) {
        margin-bottom: 20px;
    }

    @media (max-width: 510px) {
        width: 100%;
    }
}

.top__btn {
    font: var(--roboto-r);
    color: #1b1b1b;
    padding: 8px 40px;
    border: 3px solid #e6e6e6;
}

.body {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1180px) {
        flex-direction: column;
        align-items: center;
    }
}

.body__subj {
    max-width: 360px;
    text-align: center;
    padding: 30px 20px 80px 20px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);

    @media (max-width: 1180px) {
        max-width: 75%;
        min-height: 330px;
        margin-bottom: 20px;
    }
}

.subj__title {
    color: #1b1b1b;
    font: var(--roboto-r);
    font-size: 1rem;
    font-weight: 500;
    padding: 24px 0;
    margin: 0;
}

.subj__text {
    letter-spacing: normal;
    margin: 0;
    padding-bottom: 30px;
}

.subj__footer {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 0 10px;
}

.subj__footer .default-btn {
    color: black;
}

.subj__footer .default-btn:after {
    color: white;
}

.subj__footer a:first-child {
    font: var(--roboto-r);
    color: #1b1b1b;
    text-decoration: underline;
    margin-right: 60px;

    @media (max-width: 390px) {
        margin-right: 20px;
    }
}

.about {
    background-image: url(../img/us.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    color: white;
}

.about .default-btn {
    color: white;
    margin-bottom: 45px;
}

.about .default-btn::after {
    color: black;
}

.about p {
    margin: 0 0 40px 0;
    max-width: 600px;
    line-height: 1.5rem;
    color: #d3d2d2;

    @media (max-width: 510px) {
        width: 100%;
    }
}

.about h2 {
    margin: 0;
    padding: 35px 0;
    font: var(--roboto-b);
}

.form {
    padding-top: 45px;
}

.form-content__title-box {
    padding-left: 140px;
    position: relative;

    @media (max-width: 1000px) {
        padding-left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.form-content__title-box::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: var(--color-y);
    left: 0;
    top: 11px;

    @media (max-width: 1000px) {
        display: none;
    }
}

.form-content__title {
    margin: 0 0 10px 0;
    font: var(--roboto-r);
    font-size: 1.5rem;
    color: #1b1b1b;
}

.form-content__text {
    margin: 0;
    width: 430px;
    letter-spacing: 0.1px;
    line-height: 1.2rem;

    @media (max-width: 510px) {
        width: 100%;
    }
}

.form-inner {
    padding-bottom: 45px;
    background-image: url(../img/girl.png);
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom right;

    @media (max-width: 1180px) {
        background-image: none;
    }
}

.form-inner__box {
    max-width: 850px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1180px) {
        margin: 0 auto;
    }

    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
    }
}

.form-inner__box label,
.form-inner__box input,
.form-inner__box textarea {
    display: block;
    width: 100%;
}

.form-inner__box label {
    font: var(--roboto-r);
    color: #1b1b1b;
    line-height: 2rem;
}

.box__left {
    max-width: 260px;
    width: 100%;

    @media (max-width: 900px) {
        max-width: 70%;
    }
}

.box__right {
    max-width: 555px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 900px) {
        max-width: 70%;
    }
}

.form-inner__box input {
    height: 40px;
    margin-bottom: 8px;
    border: 1px solid #e6e6e6;
    padding: 10px;
}

.form-inner__box .jq-selectbox.jqselect {
    display: block;
    width: 100%;
}

.form-inner__box .jq-selectbox__select {
    border: 1px solid #e6e6e6;
    height: 40px;
    padding-left: 17px;
}

.form-inner__box .jq-selectbox__trigger-arrow::before {
    position: absolute;
    content: "\f105";
    font-family: "icomoon";
    right: 17px;
    top: 5px;
    transform: rotate(90deg);
}

.form-inner__box .jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.form-inner__box .jq-selectbox li {
	min-height: 18px;
	padding: 5px 17px 6px;
	color: #231F20;
}
.form-inner__box .jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.form-inner__box .jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.form-inner__box .jq-selectbox li.disabled {
	color: #AAA;
}
.form-inner__box .jq-selectbox li.disabled:hover {
	background: none;
}
.form-inner__box .jq-selectbox li.optgroup {
	font-weight: bold;
}
.form-inner__box .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.form-inner__box .jq-selectbox li.option {
	padding-left: 25px;
}

.form-inner__box textarea {
    border: 1px solid #e6e6e6;
    padding: 10px;
    height: 200px;
    resize: none;
    margin-bottom: 40px;
}

.box__right button {
    color: black;
    background-color: transparent;
}

.advantages {
    background-image: url(../img/group.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 285px;
    padding: 55px 0 40px 0;
    color: white;
}

.advantages-unit {
    max-width: 360px;
    text-align: center;

    @media (max-width: 1080px) {
        max-width: 70%;
    }
}

@media (max-width: 1080px) {
    .advantages-unit + .advantages-unit {
        margin-top: 30px;
    }
}

.advantages .wrapper {
    display: flex;
    justify-content: space-around;

    @media (max-width: 1080px) {
        flex-direction: column;
        align-items: center;
    }
}

.unit__title {
    padding-top: 70px;
    margin: 0 auto 20px auto;
    font: var(--roboto-r);
    line-height: 1.5rem;
    max-width: 280px;
    position: relative;
}

.unit__title::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-y);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.unit__title::after {
    position: absolute;
    content: "\f00c";
    font-family: 'icomoon';
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
}

.unit__text {
    margin: 0;
    font: var(--pt-r);
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #d3d2d2;
}

.news {
    padding-top: 70px;
    background: #f9f9f9;
}

.news-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;

    @media (max-width: 1080px) {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 50px;
    }
}

.news-body__slider {
    background: white;
    box-shadow: 0 5px 15px 1px rgba(128, 127, 127, 0.13);
    max-width: 555px;
    width: 100%;

    @media (max-width: 1080px) {
        max-width: 70%;
        margin-bottom: 30px;
    }

    @media (max-width: 440px) {
        display: none;
    }
}

.slider__unit {
    padding: 60px 35px 45px 70px;
    position: relative;

    @media (max-width: 1080px) {
        padding: 50px 25px 45px 25px;
    }
}

.slider__unit::before {
    position: absolute;
    top: 0;
    left: 70px;
    content: "\f10e";
    font-family: 'icomoon';
    color: white;
    font-size: 1rem;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 1.9rem;
    background-color: var(--color-y);
}

.unit__heading {
    margin: 0 0 20px 0;
    font: var(--roboto-r);
    color: #1b1b1b;
    font-size: 1.1rem;
}

.unit__art {
    margin: 0 0 30px 0;
    line-height: 1.2rem;
}

.unit__author {
    margin: 0;
    font: var(--roboto-r);
    font-size: 0.95rem;
    color: #1b1b1b;
}

.news-body__slider .slick-btn {
    top: auto;
    bottom: -70px;
}

.news-body__slider .slick-next {
    right: 0;
}

.news-body__slider .slick-prev {
    right: 60px;
    left: auto;
}

.news-body__slider .slick-disabled {
    border-color: #dadada;
}

.news-body__slider .slick-disabled::before {
    color: #dadada;
}

.news-body__box {
    display: flex;
    margin-left: 30px;

    @media (max-width: 1080px) {
        margin-left: 0;
    }

    @media (max-width: 510px) {
        flex-direction: column;
    }
}

.news-body__blog {
    display: flex;
    flex-direction: column;
    max-width: 265px;
    width: 100%;
    position: relative;
    color: #5e5e5e;
}

.news-body__blog:nth-child(even) {
    margin-left: 30px;

    @media (max-width: 510px) {
        margin-left: 0;
        margin-top: 30px;
    }
}

.news-body__blog img {
    display: block; 
    width: 100%;
}

.blog__date {
    position: absolute;
    top: 0;
    left: 10px;
    width: 47px;
    height: 54px;
    background: var(--color-y);
    padding: 30px 5px 10px 5px;
    text-align: center;
    font-size: 0.8rem;
}

.blog__title {
    color: #1b1b1b;
    font: var(--roboto-r);
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 0;
    margin: 0;
}

.blog__text {
    line-height: 1.2rem;
}

.footer {
    color: white;
}

.footer__content .wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 650px) {
        flex-direction: column;
    }
}

.footer__content {
    background-color: #595959;
    padding: 20px 0 30px 0;
}

.footer__info {
    margin: 15px;
}

.info__title {
    font: var(--roboto-r);
    font-size: 1.2rem;
    margin: 10px 0 20px 0;
}

.info__text {
    font: var(--roboto-r);
    line-height: 1.2rem;
    font-size: 0.9rem;
    max-width: 360px;
    margin: 0 0 30px 0;
}

.info__list {
    margin: 30px 0 0 0;
}

.info__list li:nth-child(2) {
    margin: 20px 0;
}

.info__list a {
    font: var(--roboto-r);
    letter-spacing: 0.07rem;
    padding-left: 30px;
    position: relative;
}

.info__list a::before {
    position: absolute;
    left: 0;
    content: "\f003";
    font-family: 'icomoon';
    color: var(--color-y);
}

.info__list .list__phone::before {
    content: '\f095';
}

.info__list .list__adress::before {
    content: '\f041';
}

.footer__copy {
    background-color: #303030;
    text-align: center;
}

.footer__copy p {
    margin: 0;
    font: var(--roboto-r);
    padding: 8px 0;
    color: #797777;
}

iframe {
    padding-top: 10px;
    max-width: 630px;
    width: 100%;

    @media (max-width: 1080px) {
        max-width: 500px;
    }

    @media (max-width: 940px) {
        max-width: 500px;
    }

    @media (max-width: 840px) {
        max-width: 400px;
    }

    @media (max-width: 650px) {
        max-width: none;
    }
}

#modal input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 0 10px;
    font: var(--roboto-r);
}

#modal input[type="submit"] {
    margin: 0;
    background-color: var(--color-y);
    border: none;
}

.jq-selectbox__dropdown {
    margin-top: 0 !important;
}